# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
/www
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/platforms/ios/platform_www/cordova-js-src/.eslintrc.yml
/platforms/ios/www/cordova-js-src/.eslintrc.yml
/platforms/android/.gitignore
/platforms/ios/praisehk_lite_symptom_analyzer/.gitignore
/platforms/ios/.gitignore
/.sync.ffs_db
/platforms/android/app/src/main/assets/www/static/js/2.7137ecb3.chunk.js
/platforms/browser/www/static/js/2.7137ecb3.chunk.js
/platforms/ios/www/static/js/2.7137ecb3.chunk.js
/platforms/android/app/src/main/assets/www/static/js/2.7137ecb3.chunk.js.LICENSE.txt
/platforms/browser/www/static/js/2.7137ecb3.chunk.js.LICENSE.txt
/platforms/ios/www/static/js/2.7137ecb3.chunk.js.LICENSE.txt
/platforms/android/app/src/main/assets/www/static/js/2.7137ecb3.chunk.js.map
/platforms/browser/www/static/js/2.7137ecb3.chunk.js.map
/platforms/ios/www/static/js/2.7137ecb3.chunk.js.map
/platforms/android/cordova/lib/Adb.js
/platforms/android/android.json
/platforms/android/cordova/lib/android_sdk.js
/platforms/android/cordova/android_sdk_version
/platforms/android/cordova/android_sdk_version.bat
/platforms/android/cordova/lib/AndroidManifest.js
/platforms/android/app/src/main/AndroidManifest.xml
/platforms/android/CordovaLib/AndroidManifest.xml
/platforms/android/cordova/lib/AndroidProject.js
/platforms/android/cordova/Api.js
/platforms/browser/cordova/Api.js
/platforms/ios/cordova/Api.js
/platforms/android/app/src/main/assets/www/cordova-js-src/plugin/android/app.js
/platforms/android/platform_www/cordova-js-src/plugin/android/app.js
/platforms/ios/praisehk_lite_symptom_analyzer/Classes/AppDelegate.h
/platforms/ios/praisehk_lite_symptom_analyzer/Classes/AppDelegate.m
/platforms/ios/cordova/apple_ios_version
/platforms/ios/cordova/apple_osx_version
/platforms/ios/cordova/apple_xcode_version
/platforms/android/app/src/main/assets/www/asset-manifest.json
/platforms/browser/www/asset-manifest.json
/platforms/ios/www/asset-manifest.json
/platforms/android/CordovaLib/src/org/apache/cordova/AuthenticationToken.java
/platforms/ios/praisehk_lite_symptom_analyzer/Bridging-Header.h
/platforms/ios/cordova/lib/BridgingHeader.js
/platforms/browser/browser.json
/platforms/browser/cordova/browser_handler.js
/platforms/browser/cordova/browser_parser.js
/platforms/android/cordova/build
/platforms/browser/cordova/build
/platforms/ios/cordova/build
/platforms/android/cordova/build.bat
/platforms/browser/cordova/build.bat
/platforms/ios/cordova/build.bat
/platforms/android/app/build.gradle
/platforms/android/CordovaLib/build.gradle
/platforms/android/build.gradle
/platforms/android/cordova/lib/build.js
/platforms/browser/cordova/lib/build.js
/platforms/ios/cordova/lib/build.js
/platforms/ios/cordova/build.xcconfig
/platforms/ios/cordova/build-debug.xcconfig
/platforms/ios/cordova/build-extras.xcconfig
/platforms/ios/cordova/build-release.xcconfig
/platforms/android/cordova/lib/builders/builders.js
/platforms/android/CordovaLib/src/org/apache/cordova/BuildHelper.java
/platforms/android/CordovaLib/src/org/apache/cordova/CallbackContext.java
/platforms/android/CordovaLib/src/org/apache/cordova/CallbackMap.java
/platforms/ios/CordovaLib/Classes/Public/CDV.h
/platforms/ios/CordovaLib/Classes/Public/CDVAppDelegate.h
/platforms/ios/CordovaLib/Classes/Public/CDVAppDelegate.m
/platforms/ios/CordovaLib/Classes/Public/CDVAvailability.h
/platforms/ios/CordovaLib/Classes/Public/CDVAvailabilityDeprecated.h
/platforms/ios/CordovaLib/Classes/Public/CDVCommandDelegate.h
/platforms/ios/CordovaLib/Classes/Public/CDVCommandDelegateImpl.h
/platforms/ios/CordovaLib/Classes/Public/CDVCommandDelegateImpl.m
/platforms/ios/CordovaLib/Classes/Public/CDVCommandQueue.h
/platforms/ios/CordovaLib/Classes/Public/CDVCommandQueue.m
/platforms/ios/CordovaLib/Classes/Public/CDVConfigParser.h
/platforms/ios/CordovaLib/Classes/Public/CDVConfigParser.m
/platforms/ios/CordovaLib/Classes/Private/CDVDebug.h
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVGestureHandler/CDVGestureHandler.h
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVGestureHandler/CDVGestureHandler.m
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVHandleOpenURL/CDVHandleOpenURL.h
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVHandleOpenURL/CDVHandleOpenURL.m
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVIntentAndNavigationFilter/CDVIntentAndNavigationFilter.h
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVIntentAndNavigationFilter/CDVIntentAndNavigationFilter.m
/platforms/ios/CordovaLib/Classes/Public/CDVInvokedUrlCommand.h
/platforms/ios/CordovaLib/Classes/Public/CDVInvokedUrlCommand.m
/platforms/ios/CordovaLib/Classes/Private/CDVJSON_private.h
/platforms/ios/CordovaLib/Classes/Private/CDVJSON_private.m
/platforms/ios/praisehk_lite_symptom_analyzer/CDVLaunchScreen.storyboard
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVLocalStorage/CDVLocalStorage.h
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVLocalStorage/CDVLocalStorage.m
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVLogger/CDVLogger.h
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVLogger/CDVLogger.m
/platforms/ios/CordovaLib/Classes/Private/CDVPlugin+Private.h
/platforms/ios/CordovaLib/Classes/Public/CDVPlugin+Resources.h
/platforms/ios/CordovaLib/Classes/Public/CDVPlugin+Resources.m
/platforms/ios/CordovaLib/Classes/Public/CDVPlugin.h
/platforms/ios/CordovaLib/Classes/Public/CDVPlugin.m
/platforms/ios/CordovaLib/Classes/Public/CDVPluginResult.h
/platforms/ios/CordovaLib/Classes/Public/CDVPluginResult.m
/platforms/ios/CordovaLib/Classes/Public/CDVScreenOrientationDelegate.h
/platforms/ios/CordovaLib/Classes/Public/CDVTimer.h
/platforms/ios/CordovaLib/Classes/Public/CDVTimer.m
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVUIWebViewEngine/CDVUIWebViewDelegate.h
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVUIWebViewEngine/CDVUIWebViewDelegate.m
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVUIWebViewEngine/CDVUIWebViewEngine.h
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVUIWebViewEngine/CDVUIWebViewEngine.m
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVUIWebViewEngine/CDVUIWebViewNavigationDelegate.h
/platforms/ios/CordovaLib/Classes/Private/Plugins/CDVUIWebViewEngine/CDVUIWebViewNavigationDelegate.m
/platforms/ios/CordovaLib/Classes/Public/CDVURLProtocol.h
/platforms/ios/CordovaLib/Classes/Public/CDVURLProtocol.m
/platforms/ios/CordovaLib/Classes/Public/CDVUserAgentUtil.h
/platforms/ios/CordovaLib/Classes/Public/CDVUserAgentUtil.m
/platforms/ios/CordovaLib/Classes/Public/CDVViewController.h
/platforms/ios/CordovaLib/Classes/Public/CDVViewController.m
/platforms/ios/CordovaLib/Classes/Public/CDVWebViewEngineProtocol.h
/platforms/ios/CordovaLib/Classes/Public/CDVWhitelist.h
/platforms/ios/CordovaLib/Classes/Public/CDVWhitelist.m
/platforms/ios/cordova/node_modules/semver/CHANGELOG.md
/platforms/android/cordova/check_reqs
/platforms/ios/cordova/check_reqs
/platforms/android/cordova/check_reqs.bat
/platforms/ios/cordova/check_reqs.bat
/platforms/android/cordova/lib/check_reqs.js
/platforms/browser/cordova/lib/check_reqs.js
/platforms/ios/cordova/lib/check_reqs.js
/platforms/android/cordova/clean
/platforms/browser/cordova/clean
/platforms/ios/cordova/clean
/platforms/android/cordova/clean.bat
/platforms/browser/cordova/clean.bat
/platforms/ios/cordova/clean.bat
/platforms/browser/cordova/lib/clean.js
/platforms/ios/cordova/lib/clean.js
/platforms/android/CordovaLib/src/org/apache/cordova/Config.java
/platforms/android/app/src/main/res/xml/config.xml
/platforms/browser/www/config.xml
/platforms/browser/config.xml
/platforms/ios/praisehk_lite_symptom_analyzer/config.xml
/platforms/browser/platform_www/cordova-js-src/confighelper.js
/platforms/browser/www/cordova-js-src/confighelper.js
/platforms/android/CordovaLib/src/org/apache/cordova/ConfigXmlParser.java
/platforms/ios/platform_www/cordova-js-src/plugin/ios/console.js
/platforms/ios/www/cordova-js-src/plugin/ios/console.js
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/Contents.json
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Contents.json
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchStoryboard.imageset/Contents.json
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/Contents.json
/platforms/ios/praisehk_lite_symptom_analyzer.xcworkspace/contents.xcworkspacedata
/platforms/ios/praisehk_lite_symptom_analyzer/Scripts/copy-www-build-step.sh
/platforms/android/CordovaLib/cordova.gradle
/platforms/android/app/src/main/assets/www/cordova.js
/platforms/android/platform_www/cordova.js
/platforms/browser/platform_www/cordova.js
/platforms/browser/www/cordova.js
/platforms/ios/CordovaLib/cordova.js
/platforms/ios/platform_www/cordova.js
/platforms/ios/www/cordova.js
/platforms/android/app/src/main/assets/www/cordova_plugins.js
/platforms/android/platform_www/cordova_plugins.js
/platforms/browser/platform_www/cordova_plugins.js
/platforms/browser/www/cordova_plugins.js
/platforms/ios/platform_www/cordova_plugins.js
/platforms/ios/www/cordova_plugins.js
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaActivity.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaArgs.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaBridge.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaClientCertRequest.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaDialogsHelper.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaHttpAuthHandler.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaInterface.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaInterfaceImpl.java
/platforms/ios/CordovaLib/CordovaLib_Prefix.pch
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaPlugin.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaPreferences.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaResourceApi.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaWebView.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaWebViewEngine.java
/platforms/android/CordovaLib/src/org/apache/cordova/CordovaWebViewImpl.java
/platforms/android/CordovaLib/src/org/apache/cordova/CoreAndroid.java
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default@2x~iphone.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default-568h@2x~iphone.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default-667h.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default-736h.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default-2436h.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default-Landscape@2x~ipad.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default-Landscape-736h.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default-Landscape-2436h.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default-Landscape~ipad.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default-Portrait@2x~ipad.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default-Portrait~ipad.png
/platforms/android/cordova/defaults.xml
/platforms/browser/cordova/defaults.xml
/platforms/ios/cordova/defaults.xml
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/LaunchImage.launchimage/Default~iphone.png
/platforms/android/cordova/lib/device.js
/platforms/android/cordova/lib/emulator.js
/platforms/ios/praisehk_lite_symptom_analyzer/Entitlements-Debug.plist
/platforms/ios/praisehk_lite_symptom_analyzer/Entitlements-Release.plist
/platforms/android/app/src/main/assets/www/cordova-js-src/exec.js
/platforms/android/platform_www/cordova-js-src/exec.js
/platforms/browser/platform_www/cordova-js-src/exec.js
/platforms/browser/www/cordova-js-src/exec.js
/platforms/ios/platform_www/cordova-js-src/exec.js
/platforms/ios/www/cordova-js-src/exec.js
/platforms/android/CordovaLib/src/org/apache/cordova/ExposedJsApi.java
/platforms/android/app/src/main/assets/www/favicon.ico
/platforms/browser/platform_www/favicon.ico
/platforms/browser/www/favicon.ico
/platforms/ios/www/favicon.ico
/platforms/android/cordova/lib/getASPath.bat
/platforms/android/gradle.properties
/platforms/android/cordova/lib/config/GradlePropertiesParser.js
/platforms/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/platforms/android/app/src/main/res/mipmap-ldpi/ic_launcher.png
/platforms/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/platforms/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/platforms/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/platforms/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/platforms/android/app/src/main/res/mipmap-hdpi-v26/ic_launcher.xml
/platforms/android/app/src/main/res/mipmap-ldpi-v26/ic_launcher.xml
/platforms/android/app/src/main/res/mipmap-mdpi-v26/ic_launcher.xml
/platforms/android/app/src/main/res/mipmap-xhdpi-v26/ic_launcher.xml
/platforms/android/app/src/main/res/mipmap-xxhdpi-v26/ic_launcher.xml
/platforms/android/app/src/main/res/mipmap-xxxhdpi-v26/ic_launcher.xml
/platforms/android/app/src/main/res/mipmap-hdpi-v26/ic_launcher_background.png
/platforms/android/app/src/main/res/mipmap-ldpi-v26/ic_launcher_background.png
/platforms/android/app/src/main/res/mipmap-mdpi-v26/ic_launcher_background.png
/platforms/android/app/src/main/res/mipmap-xhdpi-v26/ic_launcher_background.png
/platforms/android/app/src/main/res/mipmap-xxhdpi-v26/ic_launcher_background.png
/platforms/android/app/src/main/res/mipmap-xxxhdpi-v26/ic_launcher_background.png
/platforms/android/app/src/main/res/mipmap-hdpi-v26/ic_launcher_foreground.png
/platforms/android/app/src/main/res/mipmap-ldpi-v26/ic_launcher_foreground.png
/platforms/android/app/src/main/res/mipmap-mdpi-v26/ic_launcher_foreground.png
/platforms/android/app/src/main/res/mipmap-xhdpi-v26/ic_launcher_foreground.png
/platforms/android/app/src/main/res/mipmap-xxhdpi-v26/ic_launcher_foreground.png
/platforms/android/app/src/main/res/mipmap-xxxhdpi-v26/ic_launcher_foreground.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-20.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-20@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-20@3x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-24@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-27.5@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-29.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-29@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-29@3x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-40.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-40@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-44@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-50.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-50@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-60@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-60@3x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-72.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-72@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-76.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-76@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-83.5@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-86@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-98@2x.png
/platforms/ios/praisehk_lite_symptom_analyzer/Images.xcassets/AppIcon.appiconset/icon-1024.png
/platforms/android/CordovaLib/src/org/apache/cordova/ICordovaClientCertRequest.java
/platforms/android/CordovaLib/src/org/apache/cordova/ICordovaCookieManager.java
/platforms/android/CordovaLib/src/org/apache/cordova/ICordovaHttpAuthHandler.java
/platforms/android/app/src/main/assets/www/index.html
/platforms/browser/www/index.html
/platforms/ios/www/index.html
/platforms/android/cordova/lib/install-device
/platforms/android/cordova/lib/install-device.bat
/platforms/android/cordova/lib/install-emulator
/platforms/android/cordova/lib/install-emulator.bat
/platforms/ios/ios.json
/platforms/ios/cordova/node_modules/semver/LICENSE
/platforms/android/cordova/lib/list-devices
/platforms/ios/cordova/lib/list-devices
/platforms/android/cordova/lib/list-devices.bat
/platforms/ios/cordova/lib/list-emulator-build-targets
/platforms/android/cordova/lib/list-emulator-images
/platforms/ios/cordova/lib/list-emulator-images
/platforms/android/cordova/lib/list-emulator-images.bat
/platforms/android/cordova/lib/list-started-emulators
/platforms/ios/cordova/lib/list-started-emulators
/platforms/android/cordova/lib/list-started-emulators.bat
/platforms/android/cordova/log
/platforms/browser/cordova/log
/platforms/ios/cordova/log
/platforms/android/cordova/log.bat
/platforms/ios/cordova/log.bat
/platforms/android/CordovaLib/src/org/apache/cordova/LOG.java
/platforms/android/cordova/lib/log.js
/platforms/ios/platform_www/cordova-js-src/plugin/ios/logger.js
/platforms/ios/www/cordova-js-src/plugin/ios/logger.js
/platforms/android/cordova/loggingHelper.js
/platforms/ios/cordova/loggingHelper.js
/platforms/android/app/src/main/assets/www/static/media/logo.5d5d9eef.svg
/platforms/browser/www/static/media/logo.5d5d9eef.svg
/platforms/ios/www/static/media/logo.5d5d9eef.svg
/platforms/android/app/src/main/assets/www/logo192.png
/platforms/browser/www/logo192.png
/platforms/ios/www/logo192.png
/platforms/android/app/src/main/assets/www/logo512.png
/platforms/browser/www/logo512.png
/platforms/ios/www/logo512.png
/platforms/android/app/src/main/assets/www/static/css/main.5f361e03.chunk.css
/platforms/browser/www/static/css/main.5f361e03.chunk.css
/platforms/ios/www/static/css/main.5f361e03.chunk.css
/platforms/android/app/src/main/assets/www/static/css/main.5f361e03.chunk.css.map
/platforms/browser/www/static/css/main.5f361e03.chunk.css.map
/platforms/ios/www/static/css/main.5f361e03.chunk.css.map
/platforms/android/app/src/main/assets/www/static/js/main.b87eccba.chunk.js
/platforms/browser/www/static/js/main.b87eccba.chunk.js
/platforms/ios/www/static/js/main.b87eccba.chunk.js
/platforms/android/app/src/main/assets/www/static/js/main.b87eccba.chunk.js.map
/platforms/browser/www/static/js/main.b87eccba.chunk.js.map
/platforms/ios/www/static/js/main.b87eccba.chunk.js.map
/platforms/ios/praisehk_lite_symptom_analyzer/main.m
/platforms/android/app/src/main/java/hk/ust/ienv/praisehk_lite_symptom_analyzer/MainActivity.java
/platforms/ios/praisehk_lite_symptom_analyzer/Classes/MainViewController.h
/platforms/ios/praisehk_lite_symptom_analyzer/Classes/MainViewController.m
/platforms/ios/praisehk_lite_symptom_analyzer/Classes/MainViewController.xib
/platforms/android/app/src/main/assets/www/manifest.json
/platforms/browser/platform_www/manifest.json
/platforms/browser/www/manifest.json
/platforms/ios/www/manifest.json
/platforms/android/app/src/main/assets/www/cordova-js-src/android/nativeapiprovider.js
/platforms/android/platform_www/cordova-js-src/android/nativeapiprovider.js
/platforms/android/CordovaLib/src/org/apache/cordova/NativeToJsMessageQueue.java
/platforms/ios/CordovaLib/Classes/Public/NSDictionary+CordovaPreferences.h
/platforms/ios/CordovaLib/Classes/Public/NSDictionary+CordovaPreferences.m
/platforms/ios/CordovaLib/Classes/Public/NSMutableArray+QueueAdditions.h
/platforms/ios/CordovaLib/Classes/Public/NSMutableArray+QueueAdditions.m
/platforms/ios/cordova/node_modules/semver/package.json
/platforms/android/cordova/lib/PackageType.js
/platforms/android/CordovaLib/src/org/apache/cordova/PermissionHelper.java
/platforms/android/app/src/main/assets/www/cordova-js-src/platform.js
/platforms/android/platform_www/cordova-js-src/platform.js
/platforms/browser/platform_www/cordova-js-src/platform.js
/platforms/browser/www/cordova-js-src/platform.js
/platforms/ios/platform_www/cordova-js-src/platform.js
/platforms/ios/www/cordova-js-src/platform.js
/platforms/android/cordova/lib/plugin-build.gradle
/platforms/android/CordovaLib/src/org/apache/cordova/PluginEntry.java
/platforms/android/cordova/lib/pluginHandlers.js
/platforms/ios/cordova/lib/plugman/pluginHandlers.js
/platforms/android/CordovaLib/src/org/apache/cordova/PluginManager.java
/platforms/android/CordovaLib/src/org/apache/cordova/PluginResult.java
/platforms/ios/Podfile
/platforms/ios/cordova/lib/Podfile.js
/platforms/ios/pods.json
/platforms/ios/pods-debug.xcconfig
/platforms/ios/pods-release.xcconfig
/platforms/ios/cordova/lib/PodsJson.js
/platforms/ios/praisehk_lite_symptom_analyzer.xcworkspace/xcshareddata/xcschemes/praisehk_lite_symptom_analyzer.xcscheme
/platforms/ios/praisehk_lite_symptom_analyzer/praisehk_lite_symptom_analyzer-Info.plist
/platforms/ios/praisehk_lite_symptom_analyzer/praisehk_lite_symptom_analyzer-Prefix.pch
/platforms/android/app/src/main/assets/www/precache-manifest.cbacb05fb718fc954bb76bba8c3d403c.js
/platforms/browser/www/precache-manifest.cbacb05fb718fc954bb76bba8c3d403c.js
/platforms/ios/www/precache-manifest.cbacb05fb718fc954bb76bba8c3d403c.js
/platforms/android/cordova/lib/prepare.js
/platforms/ios/cordova/lib/prepare.js
/platforms/ios/CordovaLib/CordovaLib.xcodeproj/project.pbxproj
/platforms/ios/praisehk_lite_symptom_analyzer.xcodeproj/project.pbxproj
/platforms/android/CordovaLib/project.properties
/platforms/android/project.properties
/platforms/android/cordova/lib/builders/ProjectBuilder.js
/platforms/ios/cordova/lib/projectFile.js
/platforms/android/app/src/main/assets/www/cordova-js-src/android/promptbasednativeapi.js
/platforms/android/platform_www/cordova-js-src/android/promptbasednativeapi.js
/platforms/ios/cordova/node_modules/semver/range.bnf
/platforms/ios/praisehk_lite_symptom_analyzer/Plugins/README
/hooks/README.md
/platforms/ios/cordova/node_modules/semver/README.md
/platforms/android/CordovaLib/src/org/apache/cordova/ResumeCallback.java
/platforms/android/cordova/lib/retry.js
/platforms/android/app/src/main/assets/www/robots.txt
/platforms/browser/www/robots.txt
/platforms/ios/www/robots.txt
/platforms/android/cordova/run
/platforms/browser/cordova/run
/platforms/ios/cordova/run
/platforms/android/cordova/run.bat
/platforms/browser/cordova/run.bat
/platforms/ios/cordova/run.bat
/platforms/android/cordova/lib/run.js
/platforms/browser/cordova/lib/run.js
/platforms/ios/cordova/lib/run.js
/platforms/android/app/src/main/assets/www/static/js/runtime-main.db1e196b.js
/platforms/browser/www/static/js/runtime-main.db1e196b.js
/platforms/ios/www/static/js/runtime-main.db1e196b.js
/platforms/android/app/src/main/assets/www/static/js/runtime-main.db1e196b.js.map
/platforms/browser/www/static/js/runtime-main.db1e196b.js.map
/platforms/ios/www/static/js/runtime-main.db1e196b.js.map
/platforms/android/app/src/main/res/drawable-land-hdpi/screen.png
/platforms/android/app/src/main/res/drawable-land-ldpi/screen.png
/platforms/android/app/src/main/res/drawable-land-mdpi/screen.png
/platforms/android/app/src/main/res/drawable-land-xhdpi/screen.png
/platforms/android/app/src/main/res/drawable-land-xxhdpi/screen.png
/platforms/android/app/src/main/res/drawable-land-xxxhdpi/screen.png
/platforms/android/app/src/main/res/drawable-port-hdpi/screen.png
/platforms/android/app/src/main/res/drawable-port-ldpi/screen.png
/platforms/android/app/src/main/res/drawable-port-mdpi/screen.png
/platforms/android/app/src/main/res/drawable-port-xhdpi/screen.png
/platforms/android/app/src/main/res/drawable-port-xxhdpi/screen.png
/platforms/android/app/src/main/res/drawable-port-xxxhdpi/screen.png
/platforms/ios/cordova/node_modules/.bin/semver
/platforms/ios/cordova/node_modules/.bin/semver.cmd
/platforms/ios/cordova/node_modules/semver/bin/semver.js
/platforms/ios/cordova/node_modules/semver/semver.js
/platforms/ios/cordova/node_modules/.bin/semver.ps1
/platforms/android/app/src/main/assets/www/service-worker.js
/platforms/browser/www/service-worker.js
/platforms/ios/www/service-worker.js
/platforms/android/settings.gradle
/platforms/ios/cordova/lib/spawn.js
/platforms/android/cordova/lib/start-emulator
/platforms/ios/cordova/lib/start-emulator
/platforms/android/cordova/lib/start-emulator.bat
/platforms/android/app/src/main/res/values/strings.xml
/platforms/android/CordovaLib/src/org/apache/cordova/engine/SystemCookieManager.java
/platforms/android/CordovaLib/src/org/apache/cordova/engine/SystemExposedJsApi.java
/platforms/android/CordovaLib/src/org/apache/cordova/engine/SystemWebChromeClient.java
/platforms/android/CordovaLib/src/org/apache/cordova/engine/SystemWebView.java
/platforms/android/CordovaLib/src/org/apache/cordova/engine/SystemWebViewClient.java
/platforms/android/CordovaLib/src/org/apache/cordova/engine/SystemWebViewEngine.java
/platforms/ios/CordovaLib/VERSION
/platforms/android/cordova/version
/platforms/browser/cordova/version
/platforms/ios/cordova/version
/platforms/android/cordova/version.bat
/platforms/browser/cordova/version.bat
/platforms/ios/cordova/version.bat
/platforms/ios/cordova/lib/versions.js
/platforms/android/CordovaLib/src/org/apache/cordova/Whitelist.java
/platforms/android/app/src/main/java/org/apache/cordova/whitelist/WhitelistPlugin.java
/platforms/android/wrapper.gradle
/sync.ffs_lock
