.App {
  text-align: center;
}

.UILocker-modal-screen {
  position: fixed;
  z-index: 1990;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.UI-locked {
  display: block;
}

.UI-not-locked {
  display: none;
}

.loader-modal-screen {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99,99,99,0.5);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-loading {
  display: none;
}

.page {
  margin-bottom: 60px;
}




